DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mcq_exam?schema=public"
PORT=4000
NODE_ENV=development
JWT_ACCESS_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
JWT_ACCESS_EXPIRES_IN="15m"
CORS_ORIGIN="http://localhost:3000"
